*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    color: rgb(219, 31, 97);
}
@font-face {
    font-family: explore;
    src: url(./assets/fonts/AgetaChubbyDemo-O7L6.ttf)
}
.hero{
    height: 100%;
    background-image: url(./assets/images/jezael-melgoza-7H77FWkK_x4-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    flex: auto;
}
.hero h1{
    background-color: rgb(190, 235, 255, 35%);
    color: black;
    font-size: calc(7vmin + 3rem);
    text-align: center;
    margin-bottom: 10vh;
    width: 100%;
    font-family: explore;
    position: relative;
    padding: 0 25px;
}
.hero h1::after{
    content: "TM";
    font-size: 15%;
    font-family: monospace;
    position: absolute;
    top: 15px;
}
.hero p{
    padding-bottom: 20px;
}
.hero *{
    color: white;
}
.content-container{
    background-color: black;
    box-shadow: 0 5px 30px 2px rgb(219, 31, 97, 50%);
    padding: 5vmin 0;
    padding-left: calc(50px + 5%);
    margin: calc(5vmin + 15px) 0;
}
.biggest-container{
    background-color: black;
    padding: calc(5vmin + 15px) 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: auto;
}
.biggest-container .button-div,
.biggest-container p{
    margin-left: calc(50px + 5%);
}
.biggest-container .or-log-in{
    margin-top: 30px;
}
.slogan{
    font-size: calc(1rem + 1vw);
    max-width: 600px;
    padding-right: calc(50px + 5%);
}
button.create-account{
    background-color: rgb(219, 31, 97);
    color: white;
    width: 15em;
    height: 3em;
    border-radius: 5px;
    border: solid 3px rgb(219, 31, 97);
}
button.create-account:hover{
    cursor: pointer;
    color: rgb(219, 31, 97);
    background-color: transparent;
}
.or-log-in a{
    color: rgb(190, 235, 255);
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-right: calc(50px + 5%);
    z-index: 0;   
}
form h1{
    width: 100%;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.form-control input{
    width: 250px;
    padding: 2px;
    border: 2px palevioletred solid;
    border-radius: 0;
    -webkit-border-radius: none;
}
.form-control input:focus{
    box-shadow: 0 0 10px 3px palevioletred;
    outline: 1px palevioletred solid;
}
.form-row{
    width: min(600px, 100%);
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
p.error::before{
    content: "*";
}
p.no-error::before{
    content: "";
}
input.error{
    box-shadow: 0 0 10px 3px rgb(190, 235, 255);
    border: 2px rgb(190, 235, 255) solid;
}
input.error:focus{
    box-shadow: 0 0 10px 3px rgb(190, 235, 255);
    border: 2px rgb(190, 235, 255) solid;
}
input.error + p{
    color: rgb(190, 235, 255);
}